body {
  background: #F9AA33;
  color: #17262A;
}

.icon {
  width: 192px;
  height: 192px;
  margin-top: -1rem;
  margin-bottom: -2rem;
}

.screenshot {
  border-color: #4A6572 !important;
}

.download {
  width: 192px;
}

.copyright {
  color: #17262A !important;
}
